<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

      <title>Anasayfa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

          <!-- Bootstrap core CSS -->
     <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="login.css" rel="stylesheet">
    <link href="signup.css" rel="stylesheet">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar.css" rel="stylesheet">
    <link href="navblog.css" rel="stylesheet">

  </head>


  <body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://127.0.0.1:8000/">IoT Board</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://127.0.0.1:8000">Anasayfa</a></li>

      </li>
      <li><a href="http://127.0.0.1:8000/data">Data</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://127.0.0.1:8000/login"><span class="glyphicon glyphicon-user"></span> Giriş </a></li>
      <li><a href="http://127.0.0.1:8000/register/"><span class="glyphicon glyphicon-user"></span> Üye ol</a></li>
      <li><a href="http://127.0.0.1:8000/logout"><span class="glyphicon glyphicon-log-in"></span> Çıkış</a></li>
    </ul>

  </div>
</nav>



  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12"  blog-main">
      <form>
      <div id="Formalanı">

          <div class="form-group">

          </div>
        <div>

          <div class="checkbox mb-3">
        </div>
        </div>

          <div>



                 <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" id="id_device" name="id_device" type="button" data-toggle="dropdown">Device
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>

                  </div>
              <p>Alan1 <input type="label" class="form-control" id="alan1" name="alan1" maxlength="20"> </p>
              <p>Alan2 <input type="label" class="form-control" id="alan2" name="alan2" maxlength="20"> </p>
              <p>Alan3 <input type="label" class="form-control" id="alan3" name="alan3" maxlength="20"> </p>
              <p>Alan4 <input type="label" class="form-control" id="alan4" name="alan4" maxlength="20"> </p>
              <p>Alan5 <input type="label" class="form-control" id="alan5" name="alan5" maxlength="20"> </p>
              <p>Alan6 <input type="label" class="form-control" id="alan6" name="alan6" maxlength="20"> </p>
              <p>Alan7 <input type="label" class="form-control" id="alan7" name="alan7" maxlength="20"> </p>
              <p>Alan8 <input type="label" class="form-control" id="alan8" name="alan8" maxlength="20"> </p>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Gönder</button>
            </div>
        </div>
      </form>
    </div>



  </div><!-- /.row -->







    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

  </body>
</html>
